/*-------------Style Sheets for Underwater Excursions-----------------*/

body {
	margin: 0 auto;
	background-image: url(../images/sheet_bg.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}

img {
	box-shadow: 5px 5px 5px #666;
	margin: 20px 13px;
}