/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
   
.container {
	color: #666;
}

header {
	background-image: url(../images/header_widebg.jpg);
	background-repeat: none;
	border-bottom-left-radius: 15px;	
	border-bottom-right-radius: 15px;	
}

/*-------------Non Specific Elements--------------*/

h1 a {
	margin-left: 1.25%;
	color: #C96;
	font-family:'Trade Winds', cursive;
	text-decoration: none;
}

h2, h3 {
	font-family: 'Wallpoet', cursive;
}

h2 {
	text-shadow: 2px 2px 5px #999;
	color: #09C;
}

h3 {
	color: #000;
	margin-left: 2.5%;
}

h4 {
	font-family: 'Almendra', serif;
	color: #000;
	font-size: 1.5em;
}

a, a:visited {
	color: #C96;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

img {
	margin: 1%;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
	margin: 0 2% 0 0;
}


/*-------Navigation Elements--------*/

nav ul {
	list-style-type: none;
	margin-left: 35%;
}

nav li {
	display: inline;
	margin: 0 2% 0 0;
}

nav ul li a, nav ul li a:visited {
	text-align: right;	
	height: 3.25%;
	line-height: 3.25%;
	padding: 3px;
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
	background-color: #FFF;
	color: #006;
	border-radius: 5px;
}


/*-------Form Elements------------*/

#form_wrap {
	clear: both;
	width: 90%;
	margin-left: 5%;
	padding-top: 2.5%;
}

#personal_info {
	float: left;
	width: 45%;
}

#contact_info {
	float: right;
	width: 45%;
}

.text input {
	width: 90%;
}

.radio input {
	margin-left: 10%;
}

input:focus {
	background-color: #ffc;
}

#input {
	clear: both;
}

/* =============================================================================
   Page Styles
   ========================================================================== */
   
#testimonial {
	background-image: url(../images/sheet_bg.jpg);
	background-repeat: repeat;
	color: #333;
	margin-left: 5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-radius: 15px;
} 

#staff p {
	-moz-column-count: 3;
} 

article img {
	margin: 4%;
}

#bring_it {
	background-color: #009899;
	color: #ffc;
	margin-left: 7%;
	padding-left: .5%;
	padding-right: .5%;
	border-radius: 15px;
}

#scuba {
	margin-left: 32.5%;
}

#scuba li {
	font-weight: bold;
	color: #009899;
	font-size: 1.2em;
}

/* =============================================================================
   Contact Page
   ========================================================================== */
   
fieldset {
	border: 1px solid #c0c0c0;
	padding: 2.5%;
}

#personal_info, #contact_info {
	margin-bottom: 2.5%;
	width: 40%;
}

#personal_info {
	float: left;
}

#contact_info {
	float: right;
}

.text input {
	width: 90%;
	margin-bottom: 1.5%;
}

.radio input {
	margin-left: 50%;
}

input:focus {
	background-color: #ffc;
}

#input {
	clear: both;
	margin-bottom: 1.5%;
}

/*-------Button Elements------------*/

.button {
	float: right;
	display: block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1em/1 Arial, Helvetica, sans-serif;
	margin: 2% 10%; 
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #24836C;
	background: #006;
	background: -webkit-gradient(linear, left top, left bottom, from(#09C), to(#006));
	background: -moz-linear-gradient(top,  #09C,  #006);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#09C', endColorstr='#006');
}
.button:hover {
	text-decoration: none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#096), to(#09F));
	background: -moz-linear-gradient(top,  #096,  #09F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#096', endColorstr='#09F');
}
.button:active {
	position: relative;
	top: 0.2%; 
	background: -webkit-gradient(linear, left top, left bottom, from(#006), to(#09C));
	background: -moz-linear-gradient(top,  #006,  #09C);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#006', endColorstr='#09C');
}


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	nav ul {margin-left: 7.5%;}
	#bring_it {margin-top: 5%;}
	.radio input {margin-left: 30%;}
	#scuba {margin-left: 35%;}
	#scuba li {display: block;}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	nav ul {margin-left: 10%;}
	nav li {display: block; margin-bottom: 2%;}
	nav ul li a, nav ul li a:visited {font-size: 1.2em;}
	#staff {display: none;}
	#testimonial {display: none;}
	#scuba {margin-left: 0%;}
	#scuba li {display: block;}
	#personal_info, #contact_info {float: none;}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	header {background-image: url(../images/header_midbg.jpg);}
	#bring_it {margin-left: 4%;}
	#personal_info, #contact_info {width: 94.5%;}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	header {background-image: url(../images/header_smbg.jpg);}
	h1 a {margin-left: 10%;}
	#bring_it {margin-left: 6%;}
	#personal_info, #contact_info {width: 86.5%;}
	#form_wrapper {border: 0px;}
	.radio input {margin-left: 30%;}
	.button {float: none;}
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/