/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
   
article {
	
}  

/*-------Navigation Elements--------*/

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
}

nav ul li a, a:visited {
	text-align: center;	
	height: 3.291139240506%; /* 26px/790px */
	line-height: 3.291139240506%; /* 26px/790px */
	padding: 3px; /*3px*/
}

/*-------Form Elements------------*/

#form_wrap {
	clear: both;
	width: 90%;
	margin-left: 5%;
	padding-top: 2.5%;
}

#personal_info {
	float: left;
	width: 45%;
}

#contact_info {
	float: right;
	width: 45%;
}

.text input {
	width: 90%;
}

.radio input {
	margin-left: 10%;
}

input:focus {
	background-color: #ffc;
}

#input {
	clear: both;
}
 

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/